{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}

<div class="landing">
    <div class="landing-container">
        <h1>HandiFabLab & You</h1>
        <p>Rejoinez un réseaux où l'impression 3D réinventent les aides techniques</p>

        <a href="{{ path('project_list') }}" class="btn btn-primary">Découvrir nos projets réalisés</a>
    </div>
</div>

{% endblock %}  