{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}

<div class="landing">
    <div class="landing-container">
        <h1>HandiFabLab & You</h1>
        <p class="my-4">Rejoignez un réseau où l'impression 3D réinvente les aides techniques.</p>

        
        <div class="container">
            <div class="my-4">
                <div class="carousel">
                    {% for project in projects %}
                    
                    <div class="project-picture" style="background-image: url('{{ project.picture }}');"><a class="navbar-brand carrousel" ></a></div>
                    
                    {% endfor %}
                </div>
            </div>
        </div>
        <a href="{{ path('project_list') }}" class="btn btn-primary my-4">Découvrir nos projets réalisés</a>
    </div>
</div>

{% endblock %}
{% block javascripts %}
{% endblock %}