{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}

<div class="landing">
    <div class="landing-container">
        <h1>HandiFabLab & You</h1>
        <p>Rejoinez un réseaux où l'impression 3D réinventent les aides techniques</p>

        <a href="{{ path('project_list') }}" class="btn btn-primary">Découvrir nos projets réalisés</a>
        <div class="container">
            
            <div class="carousel">
            
                <div id="img1"><p>lorem</p></div>
            
                <div id="img2"><p>lorem</p></div>
            
                <div id="img3"><p>lorem</p></div>
            
                <div id="img4"><p>lorem</p></div>
            
                <div id="img5"><p>lorem</p></div>
            
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
{% endblock %}