/*
hidden logo
*/
@media (max-width: 992px){
    #hiddenlogo{
        display: none;
    }
}
/*
hidden btn tri
*/
@media (max-width: 992px){
    #hiddenbtntri{
        display: none;
    }
}
html, body{
    min-height: 100vh;
    margin: 0;
}

.navbar-brand img{
    height: 100px;
}

.champ{
    padding: 0;
}
.linkwhite{
    color: white;
}
.user-area{
    color: white;
    font-size: 2rem;
}
.landing{
    width: 100%;
    height: 100vh;
    background-image: url('../images/poupée.jpg');
    background-size: cover;
    color: white;
}

.landing-container{
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, 0.5 );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing h1{
    font-size: 4rem;
}

.landing p{
    font-size: 1.8rem;
}

.landing a.btn{
    font-size: 2rem;
}

.projects .project-picture{
    height: 200px;
    background-size: cover;
    background-position: right;
    position: relative;
}

.projects .project-info{
    margin: 5px;
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
}

.projects .badge-pill{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.9rem;
}

.project-landing{
    background-size: cover;
    background-position: center;
    height: 300px;
}

.project-landing__container{
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, 0.5 );
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3.2rem;
}

.project-info > div{
    font-size: 1.2rem;
    margin: 5px 0;
    display: flex;
    justify-content: center;
}

.project-info2 > div{
    font-size: 1.2rem;
    margin: 0;
    display: flex;
    justify-content: center;
}

.project-place{
    display: flex;
}

.project-place i{
    font-size: 2rem;
    margin: 5px 10px 5px 0;
}

.form-project input, .form-project textarea, .form-project select#project_place{
    width: 100%;
}

.form-project input[type="checkbox"]{
    width: auto;
    margin-right: 5px;
}

.form-project input[type="checkbox"] + label{
    margin-right: 5px;
}

.midform{
    padding-top: 100px;
}
/*
SLICK
*/

.circle{
    width: 75%;
    height: 300px;
    border-radius: 15%;
}