{% extends 'base.html.twig' %}
{% block title %}Connexion - {{ parent() }}{% endblock %}
{% block body %}
{% if error %}
    <p>erreur</p>
{% endif %}
<div class="container">
    <form action="" method="">
        <div class="row midform">
            <div class="col-12 text-center my-2">
                <input type="text" placeholder="nom d'utilisateur" name="_username" value="" />
            </div>
            <div class="col-12 text-center my-2">
                <input type="password" placeholder="mot de passe" name="_password" />
            </div>
            <div class="col-12 text-center my-2">
                <button type="submit" >login</button>
            </div>
        </div>
    </form>
</div>
<div id="footer"></div>
{% endblock %}