{% extends 'base.html.twig' %} 

{% block title %}Connexion - {{ parent() }}{% endblock %}

{% block body %}

{% if error %}
    <div class="error">
        <p>Erreur dans les identifiants, veuillez réessayer.</p>
    </div>
{% endif %}
<div class="container">
    <form action="" method="">
        <div class="row midform">
            <div class="col-12 text-center my-2">
                <input type="text" placeholder="nom d'utilisateur" name="_username" value="{{ lastUsername }}" />
            </div>
            <div class="col-12 my-4 text-center">
                <input type="password" placeholder="mot de passe" name="_password" />
            </div>
            <div class="col-12 my-4 text-center">
                <button type="submit" class="btn btn-primary" >Connexion</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}